.OuterContainer {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
  background-color: #FCFBFA;
  color: #2D3747;
  font-size: 20px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dotted black
}

.InnerContainer1 {
  widows: 100%;
  display: flex;
  padding-top: 8px;
  border-bottom: 1px dotted black
}

.InnerContainer1:last-child {
  border: none;
}

.InnerContainer1 p {
  padding: 10px;
  margin: 0;
}

.InnerContainer1 p:nth-child(1) {
  min-width: 0px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #0B5FFF;
}

.InnerContainer1 p:nth-child(2) {
  min-width: 0px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

}

.InnerContainer1 p:nth-child(3) {
  min-width: 0px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #67788a;
}

.InnerContainer1 p:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 16px;
  padding-right: 16px;
  flex: 1 1 0%;
  font-size: 14px;
}
